n8n-lead-comercial.json
{
  "name": "Agizze — Lead do chat -> WhatsApp comercial",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agizze-lead",
        "responseMode": "onReceived",
        "responseCode": 200,
        "options": {}
      },
      "id": "webhook-lead",
      "name": "Webhook (recebe lead)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "agizze-lead"
    },
    {
      "parameters": {
        "jsCode": "// Lê o lead enviado pelo site (/api/lead)\nconst b = $json.body || $json;\n\n// >>> TROQUE pelo WhatsApp do comercial: 55 + DDD + numero (so digitos) <<<\nconst numero = '5547999999999';\n\nconst texto = b.text || ('Novo contato no chat da Agizze\\n\\n' + (b.transcript || ''));\n\nreturn [{ json: { number: numero, text: texto, phoneLead: b.phone || '', page: b.page || '' } }];"
      },
      "id": "monta-msg",
      "name": "Monta mensagem",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://SEU-EVOLUTION-HOST/message/sendText/SUA-INSTANCIA",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "SUA_API_KEY_DA_EVOLUTION" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"number\": $json.number, \"text\": $json.text } }}",
        "options": {}
      },
      "id": "evolution-send",
      "name": "Evolution API - enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook (recebe lead)": {
      "main": [[{ "node": "Monta mensagem", "type": "main", "index": 0 }]]
    },
    "Monta mensagem": {
      "main": [[{ "node": "Evolution API - enviar WhatsApp", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {},
  "pinData": {}
}
